Library/
Logs/
Packages/
ProjectSettings/
Temp/
UserSettings/
.vs/
Assets/Fantasy Skybox FREE/
Assets/Plugins/CodeAssist/
Assets/Polytope Studio/
Assets/TextMesh Pro/
Assets/LowPolyWater_Pack/
Assets/Fantasy Skybox FREE.meta
Assets/LowPolyWater_Pack.meta
Assets/Polytope Studio.meta
